<h1>Draft Your Team</h1>

<!-- INTERNAL STYLE SHEET FOR NOW (will move to another file once finalized): -->


<!-- Not sure if the following scripts should go above or below. I tried it on JsFiddle though, and below seems to work. -->

<!-- <script id="draftTemplate" type="text/x-handlebars-template">
<script>
var source = $("#draftTemplate").html(); 
var template = Handlebars.compile(source);
</script> -->
<style>
    body {
        font:15px arial,sans-serif;
    }
    h1 {
        margin: 0 0 10px 0;
        padding: 5px;
        font-size: 24px;
        background-color: #999;
        color: #fff;
    }
    table {
        margin: 10px;
    }
    th, td {
        padding: 5px;
        border: 1px solid #999;
    }
    th {
        background: #ccc;
    }
    tr:nth-child(odd) {
        background: #eee;
    }
    td a {
        color: #000;
        text-decoration: underline;
    }
</style>

<form class="create-update-form" action="/user_players/create" method="POST">

 <table id = "draftTable">
    <thead> 
        <th>Sport</th> 
        <th>Player Name</th> 
        <th>Team</th> 
        <th>Position</th> 
        <th>Player ID</th>
<!--         we may want to make player id not visible
 -->    </thead> 
    <tbody> 

<!-- the following #players should be coming from draftablePlayers in players_controller.js, which is just an object with an array of player objects  -->

<!-- i put the buttons in here just so I could at least get the routes in... but I still need to either figure out how to push the selected players into an array, OR use a radio button like the cats activity did to change the value from 0 to 1, and then maybe only push the players with a value of 1 into the route. --> 
        {{#each draftablePlayers}} 
        <tr> 
            <td>{{this.sport}}</td> 
            <td>{{this.player_name}}</td> 
            <td>{{this.player_team}}</td> 
            <td>{{position}}</td> 
            <td id="playerID">{{player_id}}</td>
            <td>
            <input type="checkbox" class="checkbox" name="selected" id="{{player_id}}" value="{{player_id}}">
            </td>


        </tr> 
        {{/each}} 
    </tbody> 
    <button type="submit">Finalize Team!</button>
</table> 
</script>
<script>
var source = $("#draftTemplate").html(); 
var template = Handlebars.compile(source); 

// I believe I need to pass in draftablePlayers below, which is the object being sent from the players_controller.js. However, it may simply be players..though I am pretty sure it needs to be the highest/top level object that contains an array of other objects
$('body').append(template(draftablePlayers));

//trying to push selected players into array:
//using this JS fiddle as a template http://jsfiddle.net/ish1301/cnsnk/


    
// $("#playerID").each(function(i, v){
//     selectedPlayers[i] = Array();
//     $(this).children('td').each(function(ii, vv){
//         selectedPlayers[i][ii] = $(this).text();
//     }); 
// // })
// for (i = 0; i < rowLength; i++){var oCells = oTable.rows.item(i).cells;
//       var playerid = oCells.item(0).innerHTML;
//       console.log('playerID ', playerid);current row
//       var cellLength = oCells.length;};

var selectedPlayers = [];

// $("input:checkbox[name=type]:checked").each(function(){
//    selectedPlayers.push($(this).val());
// });



var oTable = document.getElementById('draftTable');
   //gets rows of table
   var rowLength = oTable.rows.length;
   console.log('rowLength', rowLength);
   //loops through rows    
   for (i = 0; i < rowLength; i++){
     //gets cells of current row  
      var oCells = oTable.rows.item(i).cells;
      var playerid = oCells.item(0).innerHTML;
      console.log('playerid ', playerid);
      //gets amount of cells of current row
      var cellLength = oCells.length;

      //loops through each cell in current row
   }

console.log(selectedPlayers);
</script>
