<h1>Draft Your Team</h1>
<script>var selectedPlayers = [];
</script>

<!-- INTERNAL STYLE SHEET FOR NOW (will move to another file once finalized): -->


<!-- Not sure if the following scripts should go above or below. I tried it on JsFiddle though, and below seems to work. -->

<!-- <script id="draftTemplate" type="text/x-handlebars-template">
<script>
var source = $("#draftTemplate").html(); 
var template = Handlebars.compile(source);
</script> -->
<style>
    body {
        font:15px arial,sans-serif;
    }
    h1 {
        margin: 0 0 10px 0;
        padding: 5px;
        font-size: 24px;
        background-color: #999;
        color: #fff;
    }
    table {
        margin: 10px;
    }
    th, td {
        padding: 5px;
        border: 1px solid #999;
    }
    th {
        background: #ccc;
    }
    tr:nth-child(odd) {
        background: #eee;
    }
    td a {
        color: #000;
        text-decoration: underline;
    }
</style>

<form class="create-update-form" action="/user_players_controller/batchCreate" method="POST">

 <table id = "draftTable">
    <thead> 
        <th>Sport</th> 
        <th>Player Name</th> 
        <th>Team</th> 
        <th>Position</th> 
        <th>Player ID</th>
<!--         we may want to make player id not visible
 -->    </thead> 
    <tbody> 

<!-- the following #players should be coming from draftablePlayers in players_controller.js, which is just an object with an array of player objects  -->

<!-- i put the buttons in here just so I could at least get the routes in... but I still need to either figure out how to push the selected players into an array, OR use a radio button like the cats activity did to change the value from 0 to 1, and then maybe only push the players with a value of 1 into the route. --> 
        {{#each draftablePlayers}} 
        <tr> 
            <td>{{this.sport}}</td> 
            <td>{{this.player_name}}</td> 
            <td>{{this.player_team}}</td> 
            <td>{{position}}</td> 
            <td>
            <input type="checkbox" class="player_id" name="selected" id="{{player_id}}" value="{{player_id}}">
            </td>


        </tr> 
        {{/each}} 
    </tbody> 
    <button id="draftButton" type="submit">Finalize Team!</button>
</table> 

<script>
// var selectedPlayers = [];



console.log(selectedPlayers);

$('#draftButton').on('click', function(){

    // var selectedPlayers = [];

    selectedPlayers = $('input:checkbox:checked').map(function () {
      return this.value;
        });

    console.log(selectedPlayers);


    if (selectedPlayers.length != 6) {
        alert('You have not drafted the correct number of players! Please choose exactly 6 players!');
        return false;
    } else {
        alert('Nice nob drafting your team! Good luck!');
    }
    });

// .map(function(){
//         return this.value;
//         console.log(this.value);
//     });

// console.log(selectedPlayers);



// //THREE SOLUTIONS:

// //1: 
// // selectedPlayers = $('input:checkbox:checked.player').map(function () {
// //   return this.value;
// // }).get();

// $("input:checkbox[name=selected]:checked").each(function(){
//    selectedPlayers.push($(this).val());
// });

// console.log(selectedPlayers);

//make sure the team length is correct

// function makeArr(){ var selectedPlayers = $('input:checkbox:checked').map(function () {
//       return this.value;
//         });
//     };


// $('#draftButton').on('click', function(){
//     console.log(selectedPlayers);
//     makeArr();
//     console.log(selectedPlayers);
//     // function makeArr(){ var selectedPlayers = $('input:checkbox:checked').map(function () {
//     //   return this.value;
//     //     });
//     // };
//     // console.log(selectedPlayers);
//     // makeArr();
//     // console.log(selectedPlayers);


//     if (selectedPlayers.length != 6) {
//         alert('You have not drafted the correct number of players! Please choose exactly 6 players!');
//     } else {
//         alert('Nice nob drafting your team! Good luck!');
//     }
//     });

</script>

<script>
// var source = $("#draftTemplate").html(); 
// var template = Handlebars.compile(source); 

// I believe I need to pass in draftablePlayers below, which is the object being sent from the players_controller.js. However, it may simply be players..though I am pretty sure it needs to be the highest/top level object that contains an array of other objects
// $('body').append(template(draftablePlayers));

//trying to push selected players into array:
//using this JS fiddle as a template http://jsfiddle.net/ish1301/cnsnk/


    
// $("#player_id").each(function(i, v){
//     selectedPlayers[i] = Array();
//     $(this).children('td').each(function(ii, vv){
//         selectedPlayers[i][ii] = $(this).text();
//     }); 
// // })
// for (i = 0; i < rowLength; i++){var oCells = oTable.rows.item(i).cells;
//       var player_id = oCells.item(0).innerHTML;
//       console.log('player_id ', player_id);current row
//       var cellLength = oCells.length;};


// $("input:checkbox[name=type]:checked").each(function(){
//    selectedPlayers.push($(this).val());
// });



// var oTable = document.getElementById('draftTable');
//    //gets rows of table
//    var rowLength = oTable.rows.length;
//    console.log('rowLength', rowLength);
//    //loops through rows    
//    for (i = 0; i < rowLength; i++){
//      //gets cells of current row  
//       var oCells = oTable.rows.item(i).cells;
//       var player_id = oCells.item(0).innerHTML;
//       console.log('player_id ', player_id);
//       //gets amount of cells of current row
//       var cellLength = oCells.length;

//       //loops through each cell in current row
//    }
